
<div class="wrapper-main">
  <div class="wrapper-top">
    <img src="https://cdn.pixabay.com/photo/2014/08/11/11/50/full-moon-415501_1280.jpg">
  </div>
  <div class="wrapper-article">
    <h3>新着記事</h3>
    <div class="wrapper-article__list">
      <ul>
        <%- @articles.each do |article| %>
          <li>
            <span class="smoky">
            <%= link_to article.title, article_path(article.id) ,class:"buruburu title" %>
            </span>
            <div class="clearfix">
            </div>
            <% num = article.comments.average(:rate).to_i %>
            <% num.times do %>
            <i class="fa fa-ghost buruburu"></i>
            <% num -= 1 %>
            <% end %>
            <%= link_to article.user.nickname, usershow_article_path(article.user.id), class: "name buruburu" %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="wrapper-article__side">
      <h4>恐怖ランキング</h4>
      <nav>
        <ul>
          <% num = 1 %>
          <% @ranking.each do |article| %>
          <li>
            <p class="num"><%= num %></p>
            <p class="title buruburu">
              <span class="smoky">
              <%= link_to article.title, article_path(article.id) %>
              </span>
              <% num += 1 %>
            </p>
          </li>
          <% end %>
        </ul>
      </nav>
    </div>
    <div class="wrapper-article__side">
      <h4>投稿数ランキング</h4>
      <nav>
        <ul>
          <% num = 1 %>
          <% @rankingu.each do |user| %>
          <li>
            <p class="num"><%= num %></p>
            <p class="title buruburu">
              <span class="smoky">
              <%= link_to user.nickname, usershow_article_path(user.id)  %>
              </span>
              <% num += 1 %>
            </p>
          </li>
          <% end %>
        </ul>
      </nav>
    </div>
    <div class="clearfix">

    </div>
     <%= paginate(@articles) %>
  </div>
</div>
